.base-copy {
  display: inline-flex;
  &.has-val {
    cursor: pointer;
    &:hover {
      color: @color-primary;
    }
  }
  // .icon {
  //   color: @color-primary;
  //   // vertical-align: bottom;
  //   // line-height: inherit;
  // }
}
